
/* LA BASE */



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass');

html {
    scroll-behavior : smooth ; 
}

*{
    margin : 0;
    padding: 0;
    text-decoration: none; 
    list-style : none ; 
}



/* BODY TSAVAA */



body {
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 20vh; 
    width: 20vw;
    background: url(media/istockphoto-1429897439-640_adpp_is.mp4) ; 
    background-size: cover ; 
}



/* NAVBAR */
/* NB : padding sont des marges intérieures et margin des marges extérieures  */



.navbar{
    position : absolute ;
    padding: 50px ;
    display: flex ;
    justify-content: space-between ;
    width: 100% ;
    align-items: center ;
    box-sizing: border-box; 
    z-index : 1 ; 
}

.navbar a{
    color: rgb(207, 30, 113);
    font-size : 1.2em;
}

.navbar .logo {
    color: rgb(207, 30, 113);
    font-size: 2em;
    font-weight: bold;
    /* position: absolute;  */
}


/* permet d'aligner nos éléments  */
.navbar .nav-links ul {
    display: flex; 
}

/* permet d'aligner nos éléments  */
.navbar .nav-links ul li {
    margin: 0 35px;
    display: flex; 
    align-items: center;
}

@media screen and (max-width: 900px) {
    .nav-links {
    display: none;
    }
}

.navbar .nav-links ul li.active a {
    color :white ;
    font-weight: 600; 
}

.navbar .menu-hamburger{
    display: none;
    width : 40px; 
    position: absolute; 
    top: 50px; 
    right: 50px;
    width : 40px;
}


@media screen and (max-width:900px) {
    /* .navbar {
        padding: 0;
    } */

    .navbar .menu-hamburger {
        display: block;
        /* align-items : center ; */
    }
    

    .navbar .logo {
        color: rgb(207, 30, 113);
        font-size: 2em;
        font-weight: bold;
        /* position: absolute;  */
    }


    .nav-links ul  {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute ;
        background-color: rgba(red, green, blue, alpha) ;
        backdrop-filter: blur(15px);
        width:100% ;
        height: 100vh ;
        display: flex; 
        justify-content: center ; 
        align-items: center;
        margin-left:-100% ; 
        transition: all 0.5s ease;


    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul{
        display : flex ;  
        flex-direction : column ; 
        align-items : center ; 
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}


/* BACKGROUND DE INDEX.HTML */

#video-Maison {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        } 


.img-fluid-logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first {
    color :rgb(207, 30, 113) ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.second {
    color : rgb(207, 30, 113);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.third {
    color : rgb(207, 30, 113);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* BACKGROUND MAISON.HTML CAROUSEL RESPONSIVE TUTO DE L'ECOLE DU WEB  */

#maisonMain{
    background-color : pink ; 
    padding : 10px 0px 100px 0px;
}




.main-content{
    padding: 3vw 5vw 5vw ; 
}


h1{
    /* font-family: Playfair Display, serif ;  */
    font-size: clamp(25px, 7vw, 70px);
    font-weight : 200;
}


h1 + span {
    font-size : clamp(14px, 2vw, 20px)
}


.slideshow-container {
    margin-top: 4vw ;
    overflow: hidden ;
    min-height: 60vmin ;
    cursor: grab;
    position: relative;
}


.slideshow-container:active {
    /* le active sous entendu quand je clique dessus */
    cursor : grabbing ;
}


.slideshow {
    position : absolute ; 
    height: 100% ;
    display : flex ; 
    pointer-events : none ; 
}


.slide {
    flex-shrink : 0;
    height:100%;
    width: 80vmin;
    /* le vmin prend la vmin entre la largeur et la hauteur du site et permet de ne pas faire grossir l'écrito quand j'augmente à fond la largeur mais de la diminuer si je diminue à fond la fenêtre */
    color : #fff;
    background-size: cover;
    background-position: center;
    position: relative;
}


.slide:not(:nth-child(1)){
    /* à tous les slides sauf le premier de la fraterie */
    margin-left : 20px;
}


.overlay{
    position : absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.25);
}


.slide h2{
    position: absolute;
    top: clamp(10px,2vw, 20px);
    left: clamp(10px, 2vw, 20px);
    font-size: clamp(20px, 3vw, 20px);
    font-weight: 300; 
}


.slide a{
    position: absolute;
    bottom: clamp(10px,2vw, 20px);
    right: clamp(10px, 2vw, 20px);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 300; 
    color: #fff;
    pointer-events: auto;
}


.s1 {
    background-image : url(media/grange.png);
}

.s2 {
    background-image : url(media/grange.png);
}

.s3 {
    background-image : url(media/grange.png);
}
.s4 {
    background-image : url(media/grange.png);
}




/* slider */

.slider {
    position: absolute;
    top : 50% ;
    left : 50% ;
    transform: translate(-50%,-50%); 
    width: 400px;
    height: 40px;
    padding: 30px;
    padding-left: 50px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content : space-between ; 
    box-shadow: 0px 15px 40px #7E6D5766;
}

.slider p {
    font-size: 26px;
    font-weight: 600;
    font-family: Open Sans;
    padding-left: 30px;
    color: black;
}

/* .slider input [type="range"] {
    -webkit-appearance:none !important;
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
} */

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
} 

/* .range input {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(270deg);
}; */


button{
    border : none;
    color : whitesmoke;
    width : 55%;
    padding : 15px 10px;
    margin: 10px 15px;
    font-size : 1.2em;
    font-family : 'Arial', sans-serif ;
    border-radius: 20px ;
}


button{
    font-size:1em ;
    background-color: rgb(207, 30, 113) ; 
}


button:hover {
    background-color : pink ;
    color : whitesmoke ;
    cursor : pointer ;
    transition : 0,3 s ease-in-out;
}




/* TENTER DE TOUT BIEN ALIGNER EN RESPONSIVE DANS LA PARTIE ROSE  */

/* 
#Cartes{
    display : flex ; 
    flex-wrap : nowrap ; 
    justify-content : space-between ; 
    padding: 10px  10%;
    box-sizing : border-box;
}


#Cartes {
    width: 50%;
    max-width: 300px;
} */

#Cartes{
    display : flex ;
    flex-wrap : wrap ; 
    justify-content : space-between ; 
    padding : 5px 5%;
}


.googleMaps { 
    position: relative; 
    overflow: hidden; 
    padding-top: 5%; 
  }

  .homeToBuy { 
    position: relative; 
    overflow: hidden; 
    padding-top: 5%; 
  }
